@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("../fonts/rubik-v12-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/rubik-v12-latin_cyrillic-500.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("../fonts/rubik-v12-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/rubik-v12-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("../fonts/rubik-v12-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/rubik-v12-latin_cyrillic-700.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Rubik", "Calibri", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* header part */

.header {
  width: 1480px;
  padding: 0 20px;
  padding-top: 43px;
  padding-bottom: 25px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #f6f6f9;
}

/* top header */

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
}

.top-header-heading {
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #295091;
  margin: 0px;
  padding: 4px 6px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  border-radius: 5px;
}

.top-header-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 258px;
  padding: 0px;
  margin: 0px;
  margin-right: 469px;
  margin-left: 18px;
}

.top-header-item {
  font-size: 16px;
  line-height: 19px;
  color: #7a7a7a;
}

.currency-icon {
  font-weight: bold;
  color: #285193;
}

.top-header-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 146px;
  padding: 10px 12px;
  background: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 85.96%);
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.top-header-link-icon {
}

/* sup header */

.sup-header {
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 21px 25px;
  margin: 0px;
  margin-bottom: 18px;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
}

.nav-item {
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
}

.nav-link:hover {
  color: #392525;
}

.sub-header-image {
  border: 1px solid #e0e0e0;
}

/* ------------------------ covid19 info part ---------------------- */

.covid-info {
  margin-bottom: 18px;
}

.covid-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 35px;
  background: #f6f6f9;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.covid-info-icon {
  margin-right: 18px;
}

.covid-info-heading {
  width: 232px;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.covid-info-paragraph {
  margin: 0;
  margin-right: 80px;
  font-size: 18px;
  line-height: 21px;
}

.red {
  color: #db0000;
}

.green {
  color: #05b135;
}

/* ------------------------intro part ---------------------------- */
.intro {
  margin-bottom: 36px;
}

.intro-list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.intro-item {
  width: 386px;
}

.intro-item-image {
  border-radius: 5px;
  margin-bottom: 11px;
}

.intro-item-heading {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 11px;
}

.intro-news-date {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: #6b6d97;
  margin-bottom: 18px;
}

/*     ------------------------  notifications part ----------------  */

.notification {
}

.notification-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  margin-bottom: 38px;
  background: rgba(239, 186, 84, 0.18);
  border-radius: 5px;
}

.notification-icon {
}

.notification-heading {
  margin: 0;
  margin-right: 239px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.notification-btn {
  padding: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background: linear-gradient(
    90deg,
    #fe5c28 0%,
    rgba(255, 139, 54, 0.9) 88.43%
  );
  border-radius: 5px;
  border: none;
}

/* --------------------------------news part --------------------------- */

.news {
}

.news-wrapper {
  margin-bottom: 38px;
  display: flex;
  align-items: flex-start;
}

/* left side */

.news-wrapper-left {
  /* display: flex;
    flex-direction: column; */
}

.news-heading {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.news-list {
  list-style: none;
  padding: 0;
  margin-bottom: 18px;
}

.news-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.news-item:last-child {
  margin-bottom: 0;
}
.news-item-image {
  border-radius: 5px;
  margin-right: 19px;
}

.list-item-wrapper {
}

.list-item-heading {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.list-item-paragraph {
  margin: 0;
  margin-bottom: 12px;
}

.list-item-link {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
}

.news-date {
  display: flex;
  align-items: center;
}

.news-date-icon {
  margin-right: 4px;
}

.news-date-day {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #7688a4;
}

.news-link {
  text-decoration: none;
  width: 215px;
  display: block;
  margin: auto;
  padding: 10px 32px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  background: #295093;
  border-radius: 5px;
}

/* right side of the news section */

.right-news-wrapper {
  width: 386px;
  margin-left: 31px;
}

.right-news-info {
  padding: 18px 20px;
  margin-bottom: 20px;
  background: #f6f6f9;
  border-radius: 5px;
}

.right-news-heading {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.right-paragraph {
  margin: 0;
  margin-bottom: 11px;
}

.right-link {
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}

.right-date {
  display: inline-block;
  margin-bottom: 14px;
}

.line {
  width: 346px;
  height: 4px;
  display: inline-block;
  margin-bottom: 18px;
  background: #e4e4e4;
}

/* -------------------advertisement part ---------------------- */

.advertisement {
  margin-bottom: 38px;
}

.advert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f6f6f9;
  border-radius: 5px;
  padding-left: 245px;
  padding-right: 20px;
  padding-top: 64px;
  padding-bottom: 66px;
  background-image: url(../images/advert-part/mobile-phone.png);
  background-repeat: no-repeat;
  background-image: 237px 177px;
  background-position: left 20px bottom 0;
}

.advert-wrapper {
}

.advert-heading {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #295093;
}

.advert-paragraph {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advert-img {
  margin-right: 19px;
}

/* --------------------------footer part----------------------- */

.footer {
  width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
  background: #295093;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 31px;
  margin-bottom: 20px;
}

.footer-link {
  padding: 10px;
  margin-right: 198px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #133c82;
  border-radius: 5px;
}

.footer-paragraph {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.footer-telegram-link {
  width: 132px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #295093;
  background: #ffffff;
  border-radius: 5px;
}

.footer-link-icon {
}

.blue-line {
  width: 1200px;
  height: 3px;
  display: inline-block;
  margin-bottom: 12px;
  background: #133c82;
}

/* footer bottom part */

.footer-bottom {
  display: flex;
  padding-bottom: 13px;
}

.footer-bottom-paragraph {
  width: 365px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin: 0;
  margin-right: 111px;
}

.footer-bottom-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 115px;
}

.footer-bootom-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
}
